---
title: Introduction
cover-photo: assets/images/banner.jpg
cover-photo-alt: laptos, tables and mibiles
auto-header: none
icon: fas fa-comment
order: 1
---
<header>
  <h2 class="alt">Hello! I'm <strong>Henry Tabima Giraldo</strong>. Mechatronic engineer, Full-Stack JavaScript and Ruby developer, and lifelong learner.</h2>
</header>

<a target="_blank" href="assets/CV_EN.pdf" class="button">Download CV</a>
