---
title: About me
icon: fas fa-user
order: 3
---

<a href="#" class="image featured"><img src="assets/images/sobremi.jpg" alt="" /></a>

<p>
  I entered into the world of programming at the age of twelve by learning C ++, thanks to
  the after-school programming lessons given by my school. I graduated from university as
  a mechatronic engineer and then began a specialization in energy efficiency.
</p>
<p>
  In 2016 I graduated from group 22 (PL22) of the leadership program of the Transformarte-Cali center
  (a foundation based on John Hanley's methodology), and in 2018 as Senior of Promotion 5 from the
  In5ideÜ center.
</p>
<p>
  In February 2019, I started the Microverse software development program and completed the main
  technical curriculum six months later. During that time I did pair programming, practiced English,
  followed standard gitflows, mentored junior developers, and performed code reviews.
</p>
<p>
  Thanks to <a target="_blank" href="https://platzi.com/"> Platzi </a>, I'm currently learning about
  the latest technologies in web and software development. You can see the certificates from approved
  courses <a href="/certificates">HERE</a>.
</p>
<p>
  I love reading, playing the guitar, and creating, and am always learning something new.
</p>
