<!-- Footer -->
<div id="footer">
  
  <!-- Copyright -->
  <ul class="copyright">
    {% if site.title or site.author %}
      <li>&copy; {{- site.title | default: site.author -}}. Todos los derechos reservados.</li>
    {% endif %}
  </ul>
  
</div>