<!-- Logo -->
<div id="logo">
  <a href="{{- '/' | absolute_url -}}" id="home-link">
    <div class="logo-avatar"><img src="{{- site.avatar | relative_url -}}" alt="{{- site.author | default: 'unknown author' | prepend: 'Avatar of ' -}}" /></div>
    <div class="logo-header">
      <h1 id="title">{{- site.title -}}</h1>
      <p id="subtitle">{{- site.subtitle -}}</p>
    </div>
  </a>
</div>