<!-- Social Icons -->
<ul class="icons">
  {%- if site.twitter_url -%}
  <li><a target="_blank" href="{{- site.twitter_url -}}" class="fab fa-twitter"></a></li>
  {%- endif -%}
  {%- if site.facebook_url -%}
  <li><a target="_blank" href="{{- site.facebook_url -}}" class="fab fa-facebook"></a></li>
  {%- endif -%}
  {%- if site.googleplus_url -%}
  <li><a target="_blank" href="{{- site.googleplus_url -}}" class="fab fa-google-plus"></a></li>
  {%- endif -%}
  {%- if site.instagram_url -%}
  <li><a target="_blank" href="{{- site.instagram_url -}}" class="fab fa-instagram"></a></li>
  {%- endif -%}
  {%- if site.linkedin_url -%}
  <li><a target="_blank" href="{{- site.linkedin_url -}}" class="fab fa-linkedin"></a></li>
  {%- endif -%}
  {%- if site.github_url -%}
  <li><a target="_blank" href="{{- site.github_url -}}" class="fab fa-github"></a></li>
  {%- endif -%}
  {%- if site.pinterest_url -%}
  <li><a target="_blank" href="{{- site.pinterest_url -}}" class="fab fa-pinterest"></a></li>
  {%- endif -%}
  {%- if site.slack_url -%}
  <li><a target="_blank" href="{{- site.slack_url -}}" class="fab fa-slack"></a></li>
  {%- endif -%}
  {%- if site.dribbble_url -%}
  <li><a target="_blank" href="{{- site.dribbble_url -}}" class="fab fa-dribbble"></a></li>
  {%- endif -%}
  {%- if site.email -%}
  <li><a target="_blank" href="mailto:{{- site.email -}}" class="fas fa-envelope"></a></li>
  {%- endif -%}
</ul>
