// Nombre del Logo responsive
#home-link {
  overflow: hidden;
  .logo-avatar {
    float: left;
    img {
      width: 48px;
    }
  }
  .logo-header {
    max-width: 100%;
    font-size: 1.2rem;
    @media (min-width: 961px) {
      font-size: 1.2vw;
    }
    #title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1em;
    }
    #subtitle {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: .8em;
    }
  }
}

// Color de los iconos

#nav ul li a.active span:before {
  color: #119e4d;
}

#contact {
  .icons, p, .contact-input {
    margin-bottom: 15px;
  }

}

a:hover {
  color: #119e4d;
}

// Estilo de los botones

input[type="button"], input[type="submit"], input[type="reset"], button, .button {
  margin: 5px 10px;
  background-color: #17aa56;
  color: #fff;
  border-radius: 7px;
  box-shadow: 0 5px darken(#119e4d,10);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background-image: none;
  max-width: 100%;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover, .button:hover {
  background-color: darken(#17aa56,5);
}

// Estilo de los certificados

.certificate {
  border-top: rgba(0,0,0, .3) 1px solid;
  padding: 20px 0;
  overflow: auto;
  a {
    border: none;
  }
  img {
    max-width: 100%;
    width: 200px;
    height: auto;
    float: left;
    margin: 10px 20px;
  }
  p {
    margin: 0;
  }
  h3 {
    margin-top: 5px;
  }

  @media only screen and (max-width: 500px) {
    text-align: center;
    a {
      display: block;
      width: 100%;
    }
    img {
      float: none;
      margin: 0;
      margin-top: 10px;
    }
    h3 {
      margin-top: 0;
    }
  }
}

// Iconst styles

#nav ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav ul li a i {
  font-size: 18px;
  margin-right: 5px;
  color: #41484c;
  text-align: center;
  width: 1.25em;
  line-height: 1.75em;
}

#nav ul li .active i {
  color: #17aa56;
  text-align: center;
  width: 1.25em;
  line-height: 1.75em;
}

blockquote {
  margin-bottom: 40px;
}

blockquote>p {
  margin: 0;
}

#header ul.icons {
  margin-bottom: 0;
  font-size: 1.5rem;
  a {
    color: rgba(255, 255, 255, .6);
  }
}

ul.icons {
  font-size: 1.5rem;
}

#introduction {
  .container {
    header>h2.alt {
      color: whitesmoke;
      text-shadow: 0 0 15px black;
      font-weight: bold;
      strong {
        font-weight: bold;
      }
    }
  }
}
